Adafruit-Blinka==5.0.1
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-si7021==3.2.1
Adafruit-PlatformDetect==2.13.1
Adafruit-PureIO==1.1.5
decorator==4.4.2
pkg-resources==0.0.0
py==1.8.1
pyftdi==0.51.2
pyserial==3.4
python-osc==1.7.4
pyusb==1.0.2
retry==0.9.2
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
spidev==3.4
sysv-ipc==1.0.1
